/target
/debian/voice-input/usr/bin/
/debian/voice-input/
ggml*.bin
/ggml
/debian/voice-input.debhelper.log
/debian/.debhelper/voice-input/dbgsym-root/usr/lib/debug/.build-id/9d/210484b8098c12f7116eebfca55d1e198e827e.debug
/.idea
