Package: voice-input-dbgsym
Package-Type: ddeb
Source: voice-input
Version: 0.1.7-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: System Administrator <admin@example.com>
Installed-Size: 2649
Depends: voice-input (= 0.1.7-1)
Section: debug
Priority: optional
Description: debug symbols for voice-input
Build-Ids: 75df04dadb0f901214ac129ea34541294bbb5ee4
